# fly.toml app configuration file generated for emotes on 2023-10-28T22:36:35+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "seven-spell"
primary_region = "sin"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  FLET_SESSION_TIMEOUT = "600"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "connections"
    soft_limit = 200
    hard_limit = 250